<template>
  <div class="home">
    <TopPage msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
// @ is an alias to /src
import TopPage from '@/components/TopPage.vue'

export default {
  name: 'Home',
  components: {
    TopPage
  }
}
</script>
