<template >
  <v-container >
    <v-row class="text-center">

      <v-col cols="12">
        <v-img :src="require('../../pic/logo.svg')" class="my-3" contain height="200" />
      </v-col>

      <v-col class="mb-5" cols="12">
        <v-btn class="font-weight-bold mb-5">Matching</v-btn>
      </v-col>
    </v-row>
  </v-container>
  
</template>

<script>
export default {
  name: "TopPage",

  data: () => ({

  })
};
</script>
